body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Epuda Sans", sans-serif;
  --light-main: hsl(113, 20%, 97%);
  --full-main: #94FFAF;
  --light-accent: #e8ffe5;
  --middle-accent: hsl(113, 100%, 80%);
  --full-accent: #129900;
  --light-secondary: #94FFF7;
  --full-secondary: #94FFD3;
  --gradient: #4df8f8;
}

.container {
  display: flex;
}

.menu {
  padding: 2rem;
  flex-basis: 20%;
  background: var(--light-main);
  height: 100vh;
    border-right: rgba(0, 0, 0, 0.336) solid 2px;
}

.menu h3 {
  color: black;
  border-bottom: black solid 3px;
  /* text-shadow: 3px 3px var(--middle-accent), 6px 6px var(--light-secondary); */
  /* box-shadow: inset var(--light-accent) 0 0 50px; */
  background-image: linear-gradient(0deg,rgba(232, 255, 229, 1) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 1rem 1rem;

}

.myTasks {
  border-bottom: black solid 3px;
}

.main {
  padding: 3rem;
  flex-grow: 2;
}

main {
  width:70%;
}

.user-header {
  display: flex;
  padding: 1rem;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.aside * {
  font-size: 1.9rem;
}

.addNewToDo {
    transition: .2s ease-in-out;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 5rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 1rem;
  background: linear-gradient(
    0deg,
    rgba(232, 255, 229, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  ), #94FFAF; 
}

.relativeDiv {
  position: relative;
}

.addNewToDo:hover {
  transform: translateY(-10px);
  transition: .2s ease-in-out;
  box-shadow: 0 10px 10px black;
}

.addNewToDo::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(
    0deg,
    rgb(77, 248, 248) 0%, 
    rgba(0, 0, 0, 0) 100%
  ), #94FFAF;
  opacity: 0; 
  transition: opacity 0.7s ease-in-out;
  z-index: 0; 
    -webkit-mask-image: var(--mask);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--mask);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.addNewToDo:hover::before {
  opacity: 1; /* fade in */
}

.addNewToDo span svg {
  transform-origin: center;
  height: inherit;
  position: relative;
  z-index: 1; 
}

.spin-once svg {
  animation: anim-rotate 0.7s ease-in-out forwards;
}

@keyframes anim-rotate { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

.addNewToDo > span > svg {
  height: 100%;
}

.deleteButton, .editButton {
transition: all 200ms ease-in-out;
cursor: pointer;
border: none;
  box-shadow: 0 0 3rem rgb(202, 202, 202);
  background-color: white;
  padding: 1rem 1rem;
  width: 4rem;
  height: 4rem;
}
.deleteButton:hover, .editButton:hover {
  transition: all 200ms ease-in-out;
  /* box-shadow: 0 5px 2px black; */
  transform: translateY(-5px);
}
.deleteButton:hover {
  background-color: #ff8383;
}
.done span {
  text-decoration: line-through;
}

.toDoElement {
  transition: all 200ms ease-in-out;
  border-radius: 10px;
  /* border-bottom: black solid 3px; */
  background-color: var(--light-main);
  padding: 0 2rem;
  height: 5rem;
  width: 100%;
  display: flex;
  gap: 1%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.toDoElement:hover {
  transition: all 200ms ease-in-out;
  transform: translateY(-3px);
  box-shadow: inset #94FFAF 0 0 100px;
}

.check {
  height: 3rem;
  width: 3rem;
  accent-color: var(--full-accent);
}

.controlButtons {
  flex-basis: 15%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.controlButtons > button {
  border-radius: 10px;
}

.taskTitle {
  width: 100%;
    
}

.taskTitle span {
  font-weight: 600;
  letter-spacing: 0px;
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 1.6rem;
}

.tempInput {
  background-color: transparent;
  box-shadow: inset 0 0 10px var(--full-main);
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 3rem;
  padding: .4rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.tempInput:focus {
  border-color: #129900;
}

.mainHeading {
  text-decoration: underline;
  text-decoration-thickness: 0.55rem;
  text-underline-offset: 2rem;
  font-weight: 100;
  font-size: 6rem;
  margin: 4rem 0;
  letter-spacing: 16px;
  text-transform:capitalize;
  text-shadow: 5px 5px hsl(113, 80%, 85%), 10px 10px #E8FFE5;
}

main h3 {
  padding: 1rem 0;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.header {
  margin-bottom:2rem ;
}

.user-down-arrow {
  margin-left: 1rem;
  display: flex;align-items: center;
}

.filterList li button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem;
  gap: 2rem;
  width: 100%;
  height: 4rem;
}

.filterList svg {
  height: 3rem;
}

.aside h3, .myTasks {
  position: relative;
  padding-left: 1rem;
  font-size: 2.1rem;
  margin-bottom: 1rem;
    letter-spacing:4px;
}


.navButton, .user-header {
  transition: 200ms ease-in-out;
  border: none;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  background-color: var(--light-main);
  font-weight: 600;
  letter-spacing: 2px;
}

.navButton:hover, .user-header:hover {
  transition: 200ms ease-in-out;
  background-color: var(--light-accent);
  color: var(--full-accent);
  cursor: pointer;
   box-shadow: 0 0 5px var(--full-main) ;
}

.navButton:hover svg {
  transition: 200ms ease-in-out;
    fill: var(--middle-accent);
    stroke: var(--full-accent);
}

.user-header:hover svg {
    transition: 200ms ease-in-out;
      fill: var(--full-accent);
}